/* COLORS
#2945ff
#344df4
#3e55ea
#4b5edb
#5465d4
#5e6dc9
#6974bf
#747cb4
#7e84a9
#898c9f */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray
}

.outerContainer {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  height: 600px;
  width: 60%;
  background-color: #2d3460;
  border-radius: 15px;
  border-color: black;
  border: solid;
}

.title {
  margin: 30px;
  font-size: 45px;
  font-weight: bold;
}

.message,
.versus {
  margin: 20px;
  font-size: 35px;
  font-weight: bold;
  color: lightgray;
}

.selectionDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 600px;
}

.playerSelection,
.computerSelection {
  font-size: 50px;
}

.scoreBoard,
.buttonContainer {
  display: flex;
  width: 650px;
  justify-content: space-around;
}

.scoreBoard {
  font-size: 25px;
  font-weight: bold;
  color: lightgray;
}

.newGameButton,
.rpsButton {
  margin: 30px;
  width: 170px;
  height: 50px;
  background-color: #6974bf;
  border-width: 2px;
  border-color: black;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.newGameButton {
  width: 200px;
}

.currentRoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  height: 100px;
  width: 400px;
  background-color: #6974bf;
  border: black 2px solid;
  border-radius: 15px;
  margin: 30px;
}
