/* COLORS
#2945ff
#344df4
#3e55ea
#4b5edb
#5465d4
#5e6dc9
#6974bf
#747cb4
#7e84a9
#898c9f */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3e55ea;
}

.outerContainer {
  display: flex;
  /* height: 100%; */
  font-family: sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 30px;
  font-size: 40px;
  font-weight: bold;
}

.message {
  margin: 20px;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.scoreBoard,
.buttonContainer {
  display: flex;
  width: 650px;
  justify-content: space-around;
}

.scoreBoard {
  font-size: 25px;
}

.newGameButton,
.rpsButton {
  margin: 30px;
  width: 170px;
  height: 50px;
  background-color: #5e6dc9;
  border-width: 2px;
  border-color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.newGameButton {
  width: 200px;
}

